.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 67px;
  padding: 0 200px;
  max-width: 880px;
  /* Al width se resta 200px de cada lado del padding (200px X2) */
  width: calc(100% - 400px);
  row-gap: 21px;
  column-gap: 17px;
}
.element {
  display: flex;
  flex-direction: column;
}

.element-grid__card {
  max-width: 282px;
  height: 282px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
}

.element__card-text {
  background-color: white;
  width: 246px;
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  letter-spacing: 0%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 25px 15px 31px 21px;
}

.element__card-group-vector {
  max-width: 21px;
  height: 19px;
}

/* STYLES MEDEIAS QUERIS for 320px*/
@media screen and (max-width: 320px) {
  .elements {
    display: grid;
    grid-template-columns: 282px;
    grid-template-rows: auto;
    max-width: 282px;
    /* al Width se resta 19px de cada lado del padding (19px X2) */
    width: calc(100% - 38px);
    padding: 0 19px;
    margin-bottom: 50px;
  }
}
