.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 67px;
  padding: 0 200px;
  max-width: 880px;
  /* Al width se resta 200px de cada lado del padding (200px X2) */
  width: calc(100% - 400px);
  row-gap: 21px;
  column-gap: 17px;
}
.element {
  display: flex;
  flex-direction: column;
  position: relative;
}

.element__grid-card {
  max-width: 282px;
  height: 282px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
}
.content__card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  max-width: 282px;
  /* add */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__card-text {
  /* width: 246px; */
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  letter-spacing: 0%;
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 31px 21px;
  /* padding: 25px 15px 31px 21px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__card-group-vector {
  max-width: 21px;
  height: 19px;
  background-image: url("../Pictures/Heart_Black.svg");
}
.element__card-group-vector-active {
  background-image: url("../Pictures/Heart_White.png");
}

.element__trash-white {
  max-width: 18px;
  width: 100%;
  top: 5px;
  left: 5px;
  opacity: 1;
  position: absolute;
  z-index: 1;
}
/* .element__trash:hover {
  border: solid 1px grey;
  max-width: 28px;
  border-radius: 5px;
  background-image: url("../Pictures/Trash_grey.svg");
} */

/* STYLES MEDEIAS QUERIS for 768px*/
@media screen and (max-width: 768px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 768px;
    /* al Width se resta 19px de cada lado del padding (19px X2) */
    width: calc(100% - 380px);
    padding: 0 102px;
  }
}
.element__card-text {
  background-color: white;
  /* width: 246px; */
}

/* STYLES MEDEIAS QUERIS for 320px*/
@media screen and (max-width: 320px) {
  .elements {
    display: grid;
    grid-template-columns: 282px;
    grid-template-rows: auto;
    max-width: 282px;
    /* al Width se resta 19px de cada lado del padding (19px X2) */
    width: calc(100% - 38px);
    padding: 0 19px;
    margin-bottom: 50px;
  }
}
