.footer__copyright {
  color: #545454;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  width: 318px;
  height: 18px;
  margin: 0 767px 0 200px;
  padding-bottom: 60px;
}
