.footer__copyright {
  color: #545454;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  width: 318px;
  height: 18px;
  margin: 0;
  padding: 0 767px 60px 200px;
}

/* STYLES MEDEIAS QUERIS for 768px*/
@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    max-width: 282px;
    padding: 0;
    height: 14px;
    margin: 0 auto 60px 102px;
  }
}
/* STYLES MEDEIAS QUERIS for 320px*/
@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 0 auto 35px;
  }
}
