/* ------------------------ STYLES POUPPUP FORM------------------------------------s */

.popup {
  position: absolute;
  display: none;
  width: 430px;
  height: 330px;
  top: 195px;
  left: 425px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  padding: 0;
}

.popup-open {
  display: flex;
}

.popup__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 10px;
}

.popup__close-button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  top: -46px;
  left: 430px;
  size: 40px;
  position: absolute;
  border: none;
}

.popup__close-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.popup__form {
  width: 430px;
  height: 330px;
}

.popup__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  width: 358px;
  height: 27.26px;
  top: 306px;
  left: 460px;
  border-width: 1px;
  margin: 0 37px 5px 35px;
  color: #c4c4c4;
}

.popup__overlay {}

.popup__title {
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  padding: 34px 64px 0 36px;
  margin-bottom: 48px;
  margin-top: 0;
  z-index: 10;
}

.popup__save-button 
{
  width: 358px;
  height: 50.1519775390625px;
  top: 438.34px;
  left: 461px;
  border-width: 1px;
  border-radius: 2px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  margin: 19px 36px 36.5px 36px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 0px #00000026;
}
.header__profile-edit-button {
}

.popup-perfil {
  position: fixed;
}


/* STYLES MEDEIAS QUERIS for 768px------------------------------------*/
@media screen and (max-width: 768px) {
  .popup-open {
    width: 330px;
    height: 300px;
    top: 200px;
    left: 175px;
  }

  .popup__input {
    color: green;
  }

  .popup__title {
    margin-bottom: 34px;
  }

  .popup__save-button {
    color: green;
    background-color: lightgreen;
  }

  .popup__save-button {
    margin-bottom: 10px;
  }

  .popup__close-button {
    width: 32px;
    height: 32px;
    top: -40px;
    left: 425px;
  }
}

/* STYLES MEDEIAS QUERIS for 320px-------------------------------------------------*/
@media screen and (max-width: 320px) {
  .popup {
    width: 282px;
    height: 322px;
    top: 123px;
    left: 19px;
    border-width: 1px;
  }

  .popup__close-button {
    background-color: #2a2c2f;
    width: 26px;
    height: 26px;
    top: -46px;
    left: 245px;
    size: 40px;
  }

  .popup__form {
    width: 282px;
    height: 322px;
  }

  .popup__input {
    width: 238px;
    height: 15px;
    border-width: 1px;
    margin: 0 22px 2px;
    color: #000000;
  }

  .popup__title {
    font-size: 18px;
    padding: 25px 22px 0 22px;
    margin-bottom: 56px;
    margin-top: 0;
  }

  .popup__save-button {
    width: 238px;
    height: 46px;
    border-width: 1px;
    color: yellow;

    border: 1px solid #c4c4c4;
    margin: 16px 22px 25px 22px;
    background-color: #000000;
  }
  
}


/*--------------------------------------------sTYLES  POPUP PLACES   -------------------------------------------------------------->>>>>> */

.popup-places {
  position: absolute;
  display: none;
  width: 430px;
  height: 330px;
  top: 195px;
  left: 425px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  padding: 0;
  position: fixed;
}

.popup-place__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 10px;
}

.popup-place__close-button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  top: -46px;
  left: 430px;
  size: 40px;
  position: absolute;
  border: none;
}

.popup-place__close-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.popup-place__form {
  width: 430px;
  height: 330px;
}

.popup-place__input {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  width: 358px;
  height: 27.26px;
  top: 306px;
  left: 460px;
  border-width: 1px;
  margin: 0 37px 5px 35px;
  color: #c4c4c4;
}

.popup-place__overlay {}

.popup-place__title {
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  padding: 34px 64px 0 36px;
  margin-bottom: 54px;
  margin-top: 0;
}

.popup-place__save-button {
  width: 358px;
  height: 50.1519775390625px;
  border-width: 1px;
  border-radius: 2px;
  color: #ffffff;
  border: 1px solid #c4c4c4;
  margin: 19px 36px 36.5px 36px;
  background-color: black;
  box-shadow: 0px 0px 25px 0px #00000026;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

/* STYLES MEDEIAS QUERIS for 768px*/
@media screen and (max-width: 768px) {
  .popup-places {
    width: 330px;
    height: 300px;
    top: 200px;
    left: 175px;
  }

  .popup-place__input {
    color: red;
  }

  .popup-place__title {
    margin-bottom: 34px;
  }

  .popup-place__save-button {
    color: blue;
    background-color: rgb(214, 214, 214);
  }


  .popup-place__close-button {
    width: 32px;
    height: 32px;
    top: -40px;
    left: 425px;
  }
}

/* STYLES MEDEIAS QUERIS for 320px*/
@media screen and (max-width: 320px) {
  .popup-places {
    width: 282px;
    height: 322px;
    top: 123px;
    left: 19px;
    border-width: 1px;
  }

  .popup-place__close-button {
    width: 26px;
    height: 26px;
    top: -46px;
    left: 245px;
    size: 40px;
  }

  .popup-place__form {
    width: 282px;
    height: 322px;
  }

  .popup-place__input {
    width: 238px;
    height: 26px;
    border-width: 1px;
    margin: 0 22px 0px 30px;
    color: #000000;
  }

  .popup-place__title {
    font-size: 18px;
    padding: 25px 22px 0 22px;
    margin-bottom: 76px;
    margin-top: 0;
  }

  .popup-place__save-button {
    width: 238px;
    height: 46px;
    border-width: 1px;
    color: blue;

    border: 1px solid #c4c4c4;
    margin: 16px 22px 25px 22px;
    background-color: #000000;
  }}
  

/*--------------------------------------- STYLES POPUP IMAGE --------------------------------------------->>>>*/

.popup__overlay {
  background-color: grey;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

.popup__image {
  position: absolute;
  display: none;
  max-width: 433px;
  width: 100%;
  height: 540px;
  top: 90px;
  left: 423px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  padding: 0;
  position: fixed;
}

.popup-open {
  display: flex;
}

.popup__close-button2 {
  position: relative;
  background-color: #2a2c2f;
  width: 40px;
  height: 40px;
  top: -5px;
  left: 430px;
  size: 40px;
  border: none;
}

.popup__big-image {
  max-width: 433px;
  width: 100%;
  height: 540px;
}

@media screen and (max-width: 768px) {
  .popup__image {
    top: 80px;
    left: 225px;
    max-width: 300px;
    height: 375px;
  }

  .popup__close-button2 {
    left: 295px;
    size: 20px;
  }

  .popup__big-image {
    max-width: 300px;
    width: 100%;
    height: 375px;
  }

  .popup__title-image {
    color: #a7ae27;
    max-width: 300px;
    display: flex;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

/* STYLES MEDEIAS QUERIS for 320px*/
@media screen and (max-width: 320px) {
  .popup__image {
    width: 240px;
    height: 299px;
    top: 160px;
    left: 20px;
  }

  .popup__close-button2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 100px;
    left: 255px;
    size: 20px;
    background: none;
  }

  .popup__big-image {
    max-width: 240px;
    width: 100%;
    height: 299px;
  }

  .popup__title-image {
    color: yellow;
    max-width: 300px;
    display: flex;
    justify-content: center;
  }
}





/*---------------------------------------ADD Class  red Button------------------------*/
/* Estilo para el input cuando tiene error (Borde rojo) */
.popup__input_type_error {
  border-bottom: 1px solid red;
  /* background-color: beige; */
}

/* Estilo para el mensaje de error (Texto rojo) */
/* .popup__error_visible */
.popup__error  {
  /* background-color: rgb(213, 229, 182); */
  color: red;
  font-family: "inter";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  display: block;
  margin-left: 36px;
  min-height: 15px;  /* Evita que el formulario brinque */
  width: 220px;
  height: 16px;
  padding-bottom: 9px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Estilo para el botón DESACTIVADO */
.popup__button_disabled {
  /* background-color: blue; */
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  cursor: default;
  /* El mouse no muestra la manito */
  opacity: 0.5;
  pointer-events: none;
  /* Asegura que no se pueda hacer clic */
}

@media screen and (max-width: 320px) {
  .popup__error {
    margin-left: 20px;
  }
}
